name: Lint & Unit test

"on":
  workflow_call:
    inputs:
      bundle_with:
        description: "Bundle with option for Chefstyle, chose the bundler group that Chefstyle is in"
        type: "string"
        required: false
        default: "chefstyle"
      bundle_without:
        description: "Bundle without the listed groups of Gems"
        type: string
        required: false
        default: "development"

jobs:
  chefstyle:
    env:
      BUNDLE_WITH: ${{ inputs.bundle_with }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["3.2"]
    name: Chefstyle on Ruby ${{ matrix.ruby }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.161.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - uses: r7kamura/rubocop-problem-matchers-action@v1

      - name: Chef Style
        run: bundle exec chefstyle

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run yaml Lint
        uses: actionshub/yamllint@main

  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Markdown lint
        uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          globs: "**/*.md"

  test:
    name: Unit Test with Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    needs: [markdown-lint, yamllint, chefstyle]
    env:
      BUNDLE_WITHOUT: ${{ inputs.bundle_without }}
    strategy:
      matrix:
        ruby: ["3.1", "3.2"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.161.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Rake Test
        run: bundle exec rake test
